name: Math Class tests

on:
  push: 
    branches: [master]
  
jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Check out repo code
    - uses: actions/checkout@v4

    - name: Setup Python Env
    - uses: actions/setup-python@v5
      with:
        python-version: '3.x'


    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip

    - name: Run tests
      run: tests.py